

### Jetbrains IDE files

**/.idea/*

### ASP.NET core

**/obj/*
**/bin/*
**/*.DotSettings.user


### Frontend

**/node_modules/*
**/.vscode/*
**/package-lock.json
Frontend/src/styles/app.css

### Python

**/__pycache__/*


### Sandbox worker

SandboxWorker/sandbox/code/*


### Nginx

config/nginx/localhost.conf
config/nginx/localhost.crt
config/nginx/localhost.key
