

### Jetbrains IDE files

**/.idea/*

### Backend

**/obj/*
**/bin/*
**/*.DotSettings.user
**/app/keys/*

### Frontend

**/node_modules/*
**/.vscode/*
**/package-lock.json
**/build/*
**/src/styles/app.css
**/.cache/*
Frontend/public/*
### Python

**/__pycache__/*


### Sandbox worker

SandboxWorker/sandbox/code/*


### Nginx

config/nginx/localhost.conf
config/nginx/localhost.crt
config/nginx/localhost.key
