@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;

@tailwind components;

.menu {
  @apply absolute inset-x-0 overflow-hidden h-0;
  top: 110%;
  transition: height 1s ease;
}

.menu-visible {
  height: 100vh;
}

.menu-item {
  @apply block py-2 text-lg;
}

main section:first-child {
  background: rgba(0, 0, 0, 0) linear-gradient(rgb(255, 255, 255) 0%, rgb(240, 244, 255) 20%, rgb(240, 244, 255) 80%) repeat scroll 0 0;
}

footer {
  background: linear-gradient(38deg, #0b0b0b 0%, #1c1c1c 20%, #333 100%);
}

@tailwind utilities;
